[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "genetics"]
	path = genetics
	url = https://github.com/cran/genetics
	shallow = true
	registered = true
[submodule "gmodels"]
	path = gmodels
	url = https://github.com/cran/gmodels
	shallow = true
	registered = true
[submodule "namespace"]
	path = namespace
	url = https://github.com/cran/namespace
	shallow = true
	registered = true
